.body-padding {
  padding: 45px 124px;
}

.center-text {
  text-align: center;
}

.mb-x-sm {
  margin-bottom: 15px;
}

.mb-sm {
  margin-bottom: 30px;
}

.mb-md {
  margin-bottom: 40px;
}

.mb-lg {
  margin-bottom: 80px;
}

.centered {
  margin: auto;
}
