.header {
  background-image: url("../../img/hero-medium.png");
  background-size: 50% 100%;
  background-position: right;
  background-repeat: no-repeat;
  padding: 45px 124px;
  padding-right: 0px;
  overflow: hidden;
  margin-bottom: 60px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 45px;
  margin-bottom: 45px;
  padding-right: 124px;
}

.logo {
  width: 115px;
  height: 36px;
}

.navigation-menu {
  list-style: none;
  display: flex;
}

.navigation-item {
  font-size: 14px;
  padding: 5px 25px;
  border: 1px solid var(--color-white);
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s;

  &:not(:first-child) {
    margin-left: 30px;
  }

  a,
  a:link,
  a:visited {
    font-weight: 600;
    color: var(--color-white);
    text-decoration: none;
  }

  &:hover {
    transform: scale(1.2);
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary-light);

    a,
    a:link,
    a:visited {
      color: var(--color-primary);
    }
  }
}

.navigation-item-active {
  transform: scale(1.2);
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary-light);

  a,
  a:link,
  a:visited {
    color: var(--color-primary);
  }
}

.presentation {
  display: flex;
}

.text-box {
  width: 50%;
  padding-right: 124px;
}

.search-icon {
  color: var(--color-secondary);
}

.partner {
  img {
    height: 64px;
    width: 84px;
  }
}

.carousel-container {
  display: flex;
  align-self: flex-end;
  width: 50%;
  margin-top: 400px;
  overflow: hidden;
}

.carousel-item {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 32px;
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &-pic {
    height: 56px;
    width: 56px;
    border: 3px solid var(--color-white);
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }
}

.info {
  text-wrap: nowrap;
}

.users {
  display: flex;
}

.userpic:not(:first-child) {
  margin-left: -32px;
}

.partners {
  list-style: none;
  display: flex;
}

.partner:not(:last-child) {
  margin-right: 25px;
}
