.btn {
  cursor: pointer;
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  &-fill {
    border: none;
    color: var(--color-white);
    background-color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary-dark);
    }
  }

  &-outline {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    background-color: var(--color-white);

    &:hover {
      background-color: var(--color-primary-light);
      border: 1px solid transparent;
    }
  }

  &-arrow-end {
    span {
      display: flex;
      align-items: center;

      &::after {
        content: "";
        display: inline-block;
        height: 24px;
        width: 24px;
        margin-left: 10px;

        -webkit-mask-image: url("../../img/Icons/arrow.svg");
        -webkit-mask-size: cover;

        mask-image: url("../../img/Icons/arrow.svg");
        mask-size: cover;

        background-color: var(--color-white);
      }
    }
  }

  &-icon {
    display: flex;
    align-items: center;

    i {
      font-size: 24px;
      color: currentColor;
    }

    span {
      margin-left: 15px;
    }
  }

  &-small {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    background-color: var(--color-white);
    width: 48px;
    height: 48px;

    &:hover {
      color: var(--color-white);
      background-color: var(--color-primary);
    }

    i {
      font-size: 24px;
    }
  }
}
