.textarea {
  resize: none;
  height: 150px;
  min-width: 100%;
  border: 1px solid var(--color-grey-1);
  border-radius: 28px;
  padding: 15px;
  font-family: inherit;
  color: #474747;
  width: max-content;
  font-size: 14px;

  &::placeholder {
    color: var(--color-grey-2);
  }

  &:active,
  &:focus {
    outline: none;
  }
}
