.tour {
  display: flex;
  margin-bottom: 100px;
}

.tour-info {
  width: 60%;
  padding-right: 120px;
}

.tour-description {
  color: var(--color-grey-2);
}

.detail-list {
  color: var(--color-grey-3);
  list-style: none;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 15px;
}

.detail-item {
  font-size: 16px;
  display: flex;
  align-items: center;

  i {
    margin-right: 15px;
    font-size: 32px;
  }
}

.divider {
  height: 2px;
  background-color: var(--color-grey-1);
  width: 90%;
}

.contact-owner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;

  .owner {
    img {
      height: 56px;
      width: 56px;
    }
  }
}

.composition {
  width: 60%;
  position: relative;
}

.video-container {
  height: 416px;
  width: 478px;
  position: relative;
  float: right;

  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn-play {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;

  img {
    height: 48px;
    width: 48px;
  }

  &:hover {
    filter: brightness(65%);
  }
}

.btn-play-hidden {
  display: none;
}

.gallery {
  display: flex;
  align-items: flex-end;
  margin-left: 40px;
  gap: 15px;
  position: absolute;
  bottom: -40px;
}

.composition-item {
  border-radius: 8px;
  object-fit: cover;
  transition: all 0.3s;

  &-big {
    height: 168px;
    width: 296px;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-small {
    height: 80px;
    width: 96px;

    &:hover {
      transform: scale(1.1);
    }
  }
}
